  body {
      background-color: #f5f7fa;
      font-family: 'Montserrat', sans-serif;
  }
  
  .main_div {
    display: flex;
    flex-direction: row-reverse;  
    width: 1200px;
    margin: 40px auto;
    background: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 1);
  }
  
  .right_main_div {
    background-color: #fff;
    margin: 100px 90px;  
  }
  
  /* About me and project part */
  .about_me_div {
    width: 400px;  
    margin-bottom: 40px;
  }
  .profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    font-style: normal;
    color: #000;
    margin: 0 0 20px 0;
  }
  .name {
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    font-style: normal;
    color: #000;
    margin: 0 0 25px 0;
  }
  .my_projects_div{
    margin-bottom: 50px;
  }
  .projects_list {
    padding: 0 0 0 17px;
  }
  .projects_list li,
  .skobka {
    font-weight: 700;
    color: #000;    
  }
  .about_me_div p,
  .projects_text,
  .projects_list li a {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #595959;
      text-decoration:none;
  }
  .projects_text{
    margin-left: 5px;
  }

               /* Work part */
    .zaglavie   {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin: 0 0 10px 0;
}
    .work_div{
  margin-bottom: 40px;    
}
    .work {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin: 0 0 10px 0;
}
.work_place {
  color: #FB6D3A;
  }
.data_text {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #a8a8a8;
margin:0 0 10px 0;
}
.data_text span {
color: #000;
}
.work_info{
  padding: 0 0 0 17px;
  margin: 0 0 15px 0;
}
.work_info li {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin: 0 0 0 0;
}
   .univer {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}
.curs {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 10px 0;
}







/* Menu sidebar */

  .sidebar{
    width: 370px;
    padding: 40px 0;
    background: #1e2939;
  }
  li{
    color: #595959;
    font-size: 14px;
    line-height: 24px;
}
  .contact_div,
  .tech_skills_div {
    margin: 50px 0 0 40px;
  }
   .soft_skills_div {
    margin: 45px 0 0 40px;
  }
  .soft_skills_div ul,
  .tech_skills_div ul {
    padding: 0 0 0 17px;
    }
  .soft_skills_div ul li,
  .tech_skills_div ul li {
    color: #FB6D3A;      
  }
  .soft_skills_div ul li span,
  .tech_skills_div ul li span {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #fff;     
  }
  .sidebar_title {
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    line-height: 27px;
    color: #fff;   
    margin-bottom: 10px;  
  }
 
  /* Menu contacts sidebar */
  .sdbar_title_type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-right: 5px;   
  }
  .sdbar_title_link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #8E949C;
    }